
Q: Is UC Image Product a module on it's own or a contrib to the ubercard module?
A: UC Image Product is a module on it's own. 

Q: Where do I install the UC Image Product module?
A: You can Install it in your regular modules directory. You can read more about installing this module <a href="topic:uc_image_product/installation">here</a>.

Q: I'm having an issue with this module, where can I report this?
A: <a href="http://drupal.org/project/issues/uc_image_product" target="_blank">Issues</a> for this module can be reported at drupal.org

