Maintainer(s): 
2009 - present: <a href="http://drupal.org/user/419825" target="_blank">VinceW</a>

Commit history:
<a href="http://drupal.org/node/530450/commits" target="_blank">http://drupal.org/node/530450/commits</a>