Before installation, please make sure you have read the <a href="topic:uc_image_product/requirements">requirements</a> for this module.

Install the module by following the next steps....

<ol>
<li>Activate UC Image Product like all contributed Drupal modules. See http://drupal.org/documentation/install/modules-themes/modules-5-6</li>
<li>Create an ubercart product class at: <a href="admin/store/products/classes">admin/store/products/classes</a></li>
<li>Configure UC Image Product at: <a href="admin/content/uc_image_product/settings">admin/content/uc_image_product/settings</a>.</li>
</ol>
