The UC Image Product module is a module for <a href="http://drupal.org" target="_blank" title="Drupal.org">Drupal</a> and <a href="http://ubercart.org" target="_blank" title="Ubercart.org">Ubercart</a>. It converts regular drupal image node-types into Ubercart products. This module handles the conversion(s) in a batch. You can attach a Taxonomy to the image(s). You may also use your own defined product class.

Note: assumed is that you are comfortable with installing and setting up  of Ubercart.

<a href="http://drupal.org/project/uc_image_product" target="_blank">Downloads</a> for this module are at drupal.org
