UC Image Product uses already developed code, so some knowlegde of Drupal, Ubercart and Image is required! 

The following modules need to be enabled in order to work properly.

<ul>
<li><a href="http://drupal.org/project/ubercart" target="_blank">ubercart</a></li>
<li><a href="http://drupal.org/project/image" target="_blank">image</a></li>
</ul>
Make sure those modules are working properly before installing UC Image Product. 

UC Image Product needs at least the following to be configured:
<ul>
<li>Ubercart file download settings at: <a href="admin/store/settings/products/edit/features">admin/store/settings/products/edit/features</a></li>
<li>Image import settings at: <a href="admin/settings/image/image_import">admin/settings/image/image_import</a></li>
</ul>

