
UC Image Product can convert regular drupal image node-types into Ubercart products. In order to do so, you can follow the next steps:

<ol>
<li>To get a list of available images to be converted, go to: <a href="admin/content/uc_image_product">admin/content/uc_image_product</a></li>
<li>Select the images to be converted</li>
<li>Select the Catalog(s) to be used</li>
<li>Press the convert button</li>
</ol>

Have fun!